@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 0, 0);
}

body, main{
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 10px;
    
}

header img{
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease;
}

header a:hover{
    color: black;
}

header a:active{
    transform: scale(0.95);
    color: rgb(240, 105, 105);
}

.plans{
    
    background-color: black;
    color: white;
    display: flex;
    width: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box-plans h1{
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.box-plans h2{
    text-align: center;
    margin-bottom: 30px;
}

.box-plans p, ul{
    text-align: left;
    margin-bottom: 30px;
}

.box-plans{
    border: 1px white solid;
    border-radius: 20px;
    margin: 40px;
    padding: 40px;
    width: 400px;
    height: 600px;
    transition: 0.5s ease;
    position: relative;
    
}

.title{
    position: absolute;
    top: 0;
    text-align: center;
}




.box-plans:hover{
    transform: scale(1.1);
    padding: 40px;
    border: 1px solid rgb(255, 0, 0);
    box-shadow: rgba(255, 0, 0, 0.25) 0px 50px 100px -20px, rgba(252, 0, 0, 0.3) 0px 30px 60px -30px, rgba(255, 1, 1, 0.35) 0px -2px 6px 0px inset;

}

.box-plans a{
    text-decoration: none;
    text-align: center;
    background-color: red;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    width: 300px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
}



.box-plans a:hover{
    background-color: darkred;
    cursor: pointer;
    box-shadow: rgb(145, 17, 17) 0px 13px 27px -5px, rgb(87, 8, 8) 0px 8px 16px -8px;
}
    

@media(max-width:450px){

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
        height: 5vh;
        gap: 10px;
        margin: 5px;
        color: white;
        
    }
    header img{
        display: none;
    }

    header a{
        font-size: 14px;
        font-weight: bold;
    }

    .plans{
        height: 200vh;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
    position: static;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    }

    .box-plans{
    padding: 30px;
    width: 80%;
    height: auto;
    min-height: 500px;
    padding-bottom: 100px;
    
    }

    .box-plans a{
    width: 200px;
    }

    .box-plans h1{
    position: absolute;
    bottom: 12vh;
    left: 50%;
    transform: translateX(-50%);
    }

    .box-plans p, ul{
    text-align: left;
    margin-bottom: 10px;
    font-size: 12px;
    width: 60vw;
    }

    .box-plans:hover{
    transform: scale(1.1);
    padding: 40px;
    border: 1px solid rgb(255, 0, 0);
    box-shadow: rgba(255, 0, 0, 0.25) 0px 50px 100px -20px, rgba(252, 0, 0, 0.3) 0px 30px 60px -30px, rgba(255, 1, 1, 0.35) 0px -2px 6px 0px inset;

    }
}