@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body,
main {
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 10px;

}

header img {
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease;
}

header a:hover {
    color: red;
}

header a:active {
    transform: scale(0.95);
    color: rgb(240, 105, 105);
}

main {
    color: white;
    background-color: black;
    position: relative;
}



.services {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    position: relative;
}

.title {
    position: absolute;
    top: 20px;
    text-align: center;

}


.box-services {
    text-align: center;
    margin: 50px;
    padding: 30px;
    width: 700px;
    height: 600px;
    border: 1px white solid;
    border-radius: 20px;
    transition: 0.4s;
    margin-top: 40px;
    position: relative;
}

.box-services:hover {
    transform: scale(1.1);
    margin: 50px;
    padding: 30px;
    border: 1px red solid;
    box-shadow: rgba(255, 0, 0, 0.25) 0px 50px 100px -20px, rgba(252, 0, 0, 0.3) 0px 30px 60px -30px, rgba(255, 1, 1, 0.35) 0px -2px 6px 0px inset;

}

.box-services img {
    border-radius: 20px;
    margin: 20px;
    width: 400px;
    height: 300px;
}


.matricula {
    text-decoration: none;
    text-align: center;
    background-color: red;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    width: 300px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
}

.matricula:hover {
    background-color: darkred;
    cursor: pointer;
    box-shadow: rgb(145, 17, 17) 0px 13px 27px -5px, rgb(87, 8, 8) 0px 8px 16px -8px;

}

@media(min-width: 340px) and (max-width:1030px) {


    header {
        width: auto;
        height: auto;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header a {
        font-size: 15px;
        font-weight: bold;
    }

    header img {
        display: none;
    }


    main {
        height: auto;
        width: auto;
    }


    .services {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 5vh;
        position: relative;
        padding: 50px;
    }

    .box-services {
        text-align: center;
        width: auto;
        height: auto;
        border: 1px white solid;
        border-radius: 20px;
        transition: 0.4s;
        margin: 40px auto;
        position: relative;
    }

    .box-services:hover {
        text-align: center;
        margin: 50px;
        padding: 30px;

    }

    .box-services img {
        border-radius: 20px;
        margin: 10px;
        width: 60vw;
        height: 20vh;
    }

    .matricula {

        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
    }

}


@media(min-width:1100px) {

    main {
        height: 100vh;
    }

    .services {
        width: auto;
    }

    .box-services {
        width: 20vw;
    }

    .box-services img {
        border-radius: 20px;
        margin: 10px;
        width: 15vw;
        height: auto;
    }

    .matricula {
        width: 20vw;
    }
}